body {
    background-image: none;
}

.navbar {
    background: #2d2d2d;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #3e3e3e;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #3e3e3e;
}

footer {
    display: none;
}

h4 {
    padding: 10px 0;
    margin-top: 20px;
    font-weight: 400;
}

.col-md-9 img {
    margin: 10px auto 15px auto;
}
