body {
    background-image: none;
}

.navbar {
    background: #2d2d2d;
}

.navbar-brand:before {
    content: "\f007";
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 23px;
    margin-right: 10px;
    color: #bdbdbd;
}

footer {
    display: none;
}
